body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  color: #f9f7fe;
}
.container {
  display: block;
  margin: 50px auto;
  max-width: 650px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 50px;
  border-radius: 10px;
  background-color: black;
}
form {
  max-width: 650px;
}
.search-input {
  width: 70%;
  background-color: #f9f7fe;
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  box-shadow: none;
}
.submit-button {
  width: 25%;
  background-color: lightseagreen;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  box-shadow: none;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  line-height: 30px;
}
.city {
  margin: 0;
  font-size: 48px;
}
.weather {
  margin-top: 20px;
}
.weather-details {
  padding-top: 5px;
  font-size: 18px;
  color: grey;
}
.temperature-details {
  display: flex;
  font-weight: bolder;
  margin-top: 40px;
}
.weather-details strong {
  color: #f65282;
}
.weather-temperature {
  font-size: 100px;
  padding: 0;
}
.weather-icon {
  max-width: 100%;
  max-height: 80%;
  margin-top: -30px;
  padding: 0;
}
.weather-unit {
  margin-top: -20px;
  font-size: 30px;
}
.weather-forecast {
  display: flex;
  line-height: 35px;
  margin-bottom: 30px;
  justify-content: space-around;
}
.forecast-day {
  text-align: center;
  font-size: 18px;
}
.forecast-icon {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
.forecast-temperatures {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.forecast-temperature {
  padding: 5px;
}
footer {
  text-align: center;
}
footer a {
  color: lightseagreen;
}
